#toggleView {
    display: block;
    margin: 0 auto; 
    width: 200px; 
    padding-top: 1rem;
    background: #blue;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem; 
  }
  